@charset "utf-8";
@import "vars.scss";


body {
  background: url('img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 16px;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  font-family: $headlinefont;
  font-weight: 300;
  padding-top: 25px;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}

a {
  color: $black;
}
a:hover {
  text-decoration: none;
}


.xiong-container {
  width: calc(95% - 90px);
  margin-left: 100px;

}

.xiong-block {
  margin: 0;
  padding: 15px;
  .xiong-block-post {
    background: white;
    opacity: 0.9;
    padding: 25px;
    position: relative;
    &:hover {
      opacity: 0.7;
    }
  }
}

.xiong-type-tag {
  position: absolute;
  right: -10px;
  top: 5px;
  background: $black;
  color: $white;
  padding: 15px
}
