@charset "utf-8";
@import "vars.scss";

.xiongSingleArticle {
  background: white;
  opacity: 0.9;
  padding: 25px;
  position: relative;
  margin: 25px 15px 15px 15px;
  .xiongOccupation{
    font-size: 120%;
    font-style: italic;
  }
}

.xiong-headline-banner {
  background: white;
  opacity: 0.9;
  padding: 25px;
  position: relative;
  margin: 25px 15px 15px 15px;
  text-align: right;
  text-transform: uppercase;
  h2 {
    padding-top: 0;
  }
}
